body{
    //background-color: #391F4F;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Share Tech', sans-serif;
}